body {
   color: rgb(173, 173, 173);
}

h1 {
    color: rgb(182, 72, 167);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50pt;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20%;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25pt;
    text-align: center;
    color: rgb(182, 72, 167);
}

.flex-container .box {
        background-color: pink;
        width: 25%;
        margin: 50px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
        color: white;
        float:left;
        float:center;
}

.flex-container .box:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
    background-color:rgb(182, 72, 167);
}